<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    <h3>NEXGENU</h3>
    <p>Courses</p>
    <p>Internships</p>
    <p>Exams</p>
    <p>Projects</p>
    <p>Govt Jobs</p>
</div>

<div class="main">
    <div class="card">
        <h2>Welcome Student</h2>
        <p><b>Analytic Score:</b> 82 / 100</p>
        <br>
        <button>Register for Campus Drive</button>
        <br><br>
        <a href="/" class="neon-btn">Logout</a>
    </div>
</div>

</body>
</html>
