<!DOCTYPE html>
<html>
<head>
    <title>NEXGENU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="glass-card hero">
    <h1>Next Generation Education</h1>
    <p>Empowering Students • Parents • Colleges</p>

    <div class="stats">
        <div>
            <h2>25,000+</h2>
            <span>Students</span>
        </div>
        <div>
            <h2>300+</h2>
            <span>Colleges</span>
        </div>
    </div>

    <br>
    <a href="/login" class="neon-btn">Login / Register</a>
</div>

</body>
</html>
